body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: burlywood ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#footer{
    background-color: yellowgreen;
    width: 100%;
    font-size: 12px;
    text-align: left;
    vertical-align: bottom;
}

h2{
    color: violet;
}

#cover-container{
    max-width: 300px;
    margin: 80px auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
}

.cover{
    width: 100%;
    height: auto;
}
#header{
    color: tomato;
    text-shadow: beige;
    width: 100%;
    text-transform: uppercase;
    font-size: 70px;
}