body{
    padding: 20px;
    background-color: burlywood ;
    text-align: center;
}
#footer{
    background-color: yellowgreen;
    width: 100%;
    font-size: 12px;
    text-align: left;
    vertical-align: bottom;
}

h2{
    color: aqua;
}

.cover{
    width: 50%;
    height: 50%;
}
#header{
    color: tomato;
    text-shadow: beige;
    width: 100%;
    text-transform: uppercase;
    font-size: 70px;
}